/* 漂亮的背景颜色 */
body {
    background-color: #1fc8db;background-image: linear-gradient(141deg,#9fb8ad 0%,#1fc8db 51%,#2cb5e8 75%);color: white;opacity: 0.95;margin: auto;color: #f3f3f3;
}

span.keyword {
    color: #CC7832;
}

span.method {
    color: #FFC66D;
}

span.string {
    color: #6A8759;
}

span.comment {
    color: #808080;
}

span.marked {
    font-weight: bold;background-color: #ECEAE6;
}

span.constant {
    color: #9876AA;
}

span.field {
    color: #9876AA;
}

span.number {
    color: #6897BB;
}

table.code {
    margin: 0px;width: 100%;height: 100%;border: solid;border-width: 1px;color: #A9B7C6;background-color: #2B2B2B;border-color: #2B2B2B;font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

td.line {
    margin: 0px;width: 4%;height: 100%;color: #606366;background-color: #313335;
}

h1 {
    text-align: center;
}

a:link {color: #f0f0f0;}      /* 未访问链接*/
a:visited {color: #f3f3f3;}  /* 已访问链接 */
a:hover {  /* 鼠标移动到链接上 */
    color: #ffffff;
    transition: color 1s;
}
a:active {color: #f3f3f3;}  /* 鼠标点击时 */