table {
    border-collapse:collapse;border:solid;border-width:1px;padding:5px;font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
table, th, td {border: 1px solid black;}